$bg: #1a1a1a;
$ft-bg: #202020;
$regular-border-color: #404040;
$regular-font-color: white;
$bootstrap-blue: #0d6efd;
$bootstrap-indigo: #6610f2;
$bootstrap-purple: #6f42c1;
$bootstrap-pink: #d63384;
$bootstrap-red: #dc3545;
$bootstrap-orange: #fd7e14;
$bootstrap-yellow: #ffc107;
$bootstrap-green: #198754;
$bootstrap-teal: #20c997;
$bootstrap-cyan: #0dcaf0;
$bootstrap-white: #fff;
$bootstrap-gray: #6c757d;
$bootstrap-gray-dark: #343a40;
$bootstrap-primary: #0d6efd;
$bootstrap-secondary: #6c757d;
$bootstrap-success: #198754;
$bootstrap-info: #0dcaf0;
$bootstrap-warning: #ffc107;
$bootstrap-danger: #dc3545;
$bootstrap-light: #f8f9fa;
$bootstrap-dark: #212529;
