@import "./colors";
@import "./fonts";
@import "./sizes";

body {
  box-sizing: border-box;

  background-color: $bg;

  background-image: url("../img/octopus.png");
  background-size: 55%;
  background-position: center 150px;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: "Sora", sans-serif;
  font-size: $regular-font-sizes;
}

#nav {
  background-color: $ft-bg;
}

#container {
  min-height: 100vh;

  #content-index {
    .title-header {
      margin-top: 5em;
      text-align: center;

      transition: color 0.8s ease-in;
    }

    .title-header:hover {
      color: $bootstrap-green;
    }

    .title-main {
      font-size: 60px;
    }

    p {
      color: $regular-font-color;

      font-size: x-large;
      text-align: center;
    }
    ul {
      li {
        width: 90%;
        color: $regular-font-color;

        font-size: large;
        text-align: left;

        padding: 0.2em;

        span {
          color: $bootstrap-green;
        }
      }
    }
  }

  #content-form {
    section {
      padding-top: 10em;

      p{
        text-align: center;
        font-size: x-large;

        color: $bootstrap-red;
      }

      .form-header {
        transition: color 1s ease;
      }

      .form-header:hover {
        color: $bootstrap-green;
      }

      h1 {
        font-size: 45px;
        text-align: left;
      }

      form {
        width: 300px;
      }
    }
  }

  #content-profile {
    .title-header{
      transition: color 1s ease;
    }

    .title-header:hover{
      color: $bootstrap-green;
    }

    h1{
      text-align: center;
      padding-top: 5em;
    }

    p{
      text-align: center;
      font-size: x-large;

      color: $regular-font-color;
      padding-top: 2em;
    }
  }
}

#footer {
  display: flex;
  flex-direction: column;

  background-color: $ft-bg;
  color: $regular-font-color;
  font-size: $regular-font-sizes;
  text-align: center;

  hr {
    width: 75%;
    margin: auto;
  }

  .profile-logo {
    border-radius: 5%;

    padding: 0.2em;
  }
}
